E:\C++Project\ScottEffectiveSeries\Effective_Modern_C++\EffectiveItems\.vs
E:\C++Project\ScottEffectiveSeries\Effective_C++_3rdEdition\EffectiveItems\.vs
E:\C++Project\ScottEffectiveSeries\SelfAdded\EffectiveItems\.vs
E:\C++Project\ScottEffectiveSeries\Bjarne_CPP_PL\EffectiveItems\.vs
SelfAdded/EffectiveItems/.vs/EffectiveItems/v16/ipch/AutoPCH/150bbbbd1d1519a3/MAIN.ipch
